/* General styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

/* Header styling */
header {
  background-color: #1c1c1e;
  color: #f4f4f9;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Blog posts section */
.blog-posts {
  padding: 40px 20px;
  max-width: 850px;
  margin: 0 auto;
}

/* Individual blog post styling */
.blog-post {
  margin-bottom: 10px;
}

/* Centered image styling */
.model-image {
  display: block;
  margin: 0 auto 30px auto;
  width: 50%;
  height: auto;
}

/* Image gallery container */
.image-gallery-container {
  max-width: 800px; /* Constrain the gallery width */
  margin: 0px auto; /* Center the gallery */
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f4f4f9;
}

/* Image gallery grid */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
.github-hosting {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 20px;
}

/* Mobile optimizations */
@media (max-width: 768px) {
  /* Adjust gallery size for mobile */
  .image-gallery-container {
    width: 95%; /* Shrink the gallery for mobile */
  }

  /* Adjust the image border radius and shadow */
  .image-gallery img {
    border-radius: 3px;
    box-shadow: none;
  }

  /* Center-align and adjust footer on mobile */
  .github-hosting {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
  }

  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }
}